@font-face {
    font-family: 'nulshock';
    src: url(../fonts/nulshock\ bd.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

li, a  {
    font-family: 'Montserrat';
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

p {
    font-family: 'Montserrat';
    color: white;
}

h1 {
    font-family: 'nulshock';
}

h2, .h1-blue {
    font-family: 'nulshock';
    font-size: 24px;
    color: #145E95;
}

h3 {
    font-family: 'Montserrat';
}

body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.email-underline {
    text-decoration: underline;
}

/* HEADER NAV */

header {
    background-color: #145E95;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    position: relative;
  }

  .logo img {
      height: 40px;
  }
  
  nav {
    position: absolute;
    top: 70px;
    background: #145E95;
    width: 100%;  
    display: none;
    z-index: 1000;
    margin-left: -10%;
  }
  
  .nav-links {
      text-align: center;
      display: flex;
      flex-direction: column;
  }

  .nav-links a {
      padding: 12px 0px 11px;
      display: inline-block;
      width: 100%;
      height: 100%; 
  }

  .nav-links a:hover {
      border-bottom: 1px solid white;
  }

  .current {
    border-bottom: 1px solid white;
  }

  nav li {
    display: block;
    padding: 30px 30px;
  }

  #checkbox {
      display: none;
  }
  
  #checkbox:checked ~ nav {
    display: block;
  }

/* HOMEPAGE */

/* HOMEPAGE HERO */

.hero-home {
    background-color: #145E95;
    background-image: url(/images/bg-home.jpg);
    height: 715px;
    position: relative;
    overflow-y: visible;
}

.header-text {
    color: white;
    margin-left: 10%;
    padding: 60px 10px 0px 0px;
}

.header-text h1 {
    padding: 16px 0px 50px;
}

.speech-bubble {
    width: 30%;
    min-width: 277px;
    margin-left: 10%;
    position: relative;
}

.speech-bubble img {
    width: 100%;
    position: absolute;
}

.speech-text p {
    padding: 12px 0px;
}

.speech-text {
    position: absolute;
    margin: 0px 0px 0px 40px;
    width: 80%;
}

.speech-text span {
    font-family: 'nulshock';
    color: #FF931E;
}

.dr-egghead-1 {
    margin-top: 300px;
}

.blue-line {
    background-color: #97C0DE;
    height: 16px;
    position: relative;
    z-index: 0;
}

.moon-overflow {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.moon img {
    width: 100%;
    position: absolute;
    z-index: 999;
    margin: -50% 0% 0% 100%;
    max-width: 760px;
}

.moon {
    width: 60%;
    z-index: 999;
    position: relative;
}






/* HERO HOMEPAGE PART 2 */

.hero-below {
    background-color: #091E2E;
    height: 1000px;
    position: relative;
    width: 100%;
}

.hero-below-text {
    padding-top: 20%;
    width: 80%;
    max-width: 800px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.hero-below-text p {
    font-size: 20px;
}

.orion {
    width: 100%;
    display: none;
}

.orion img {
    width: 30%;
    position: absolute;
    right: 0;
    padding: 5% 10% 5% 0;
}

.speech-bubble-2 {
    position: absolute;
    padding-bottom: 200px;
    margin-left: 10%;
    margin-top: 10%;
}

.speech-bubble-2 img {
    width: 90%;
    margin: auto;
    min-width: 250px;
    max-width: 313px;
    position: absolute;
}

.speech-text-2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
    max-width: 313px;
}

.speech-text-2 p {
    font-size: 18px;
}



/* EASTER EGG */ 

#easter-egg {
    display: none;
}

.easter-egg {
    position: absolute;
    bottom: 0;
    margin-left: 10%;
}

.easter-egg img {
    margin-bottom: -5px;
}

.easter-egg label:hover {
    cursor: pointer;
}

.easter-egg p {
    display: none;
    width: 100px;
}

#easter-egg:checked + p {
    display: inline-block
}




/* HEADING EXHIBITIONS */

.heading-exhibitions {
    background-color: #DFF0FD;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.heading-exhibitions img {
    display: none;
    max-width: 150px;
}

/* EXHIBITION SECTION */

.exhibitions {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    padding: 40px 0 40px 0;
    height: fit-content;
}

.card {
    width: 30%;
    min-width: 121.5px;
    margin: 19px;
    text-align: center;
}

.card p {
    color: black;
    font-family: 'Montserrat';
    padding: 16px 0;
    font-size: 24px;
}

.card-1 {
    order: 1;
}

.card-2 {
    order: 2;
}

.card-3 {
    order: 5;
    width: 100%;
}

.card-3 a img {
    width: 50%;
    max-width: 280px;
}

.card-4 {
    order: 4;
}

.card-5 {
    order: 3;
}

.exhibitions img {
    border-radius: 50%;
    width: 100%;
    filter: drop-shadow( #414141 0px 0px 15px);
}

.exhibitions img:hover {
    transform: scale(1.1);
}

/* NEWS AND EVENTS SECTION */

.news-and-events-section {
    background-color: #DFF0FD;
    text-align: center;
}

.news-and-events-section h2 {
    padding: 60px 0px 60px 0px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10%;
    gap: 2em;
}

.news-card {
    background-color: white;
    flex: 1 1 calc(33.3% - 2em);
    width: 100%;
    text-align: left;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    filter: drop-shadow( #8bb8d8 0px 0px 15px);
}

.news-card:hover {
    transform: scale(1.1);
}

.news-card img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.news-card p {
    color: black;
    font-size: 16px;
    padding-bottom: 60px;
    
}

.news-card a {
    color: black;
    text-decoration: underline;
    position: absolute;
    bottom: 30px;
    padding: 10px 10px 10px 0px;
}

.news-card h3 {
    font-size: 24px;
    margin: 24px 0px 24px;
}

/* DR EGGHEAD AT BOTTOM OF HOME PAGE */

.dr-egghead-bottom {
    background-color: #DFF0FD;
    padding-left: 10%;
    padding-top: 80px;
}

.speech-bubble-bottom {
    width: 90%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.speech-bubble-bottom img {
    width: 100%;
    max-width: 250px;
    position: absolute;
}

.dr-egghead-bottom p {
    color: black;
    width: 100%;
    padding: 8px;
    z-index: 1000;
}

.dr-egghead-bottom a {
    color: black;
    text-decoration: underline;
}

.dr-egghead-bottom-img {
    margin-top: 100px;
    margin-bottom: -4px;
}

/* FOOTER */

footer {
    background-color: #145E95;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 80px 10%;
    gap: 40px;
}

.social-media-flex {
    display: flex;
    flex-direction: row;
    gap: 24px;
}


/* EXPLORE PAGE */

.explore-hero {
    background-image: url(/images/explore.jpg);
    background-color: #091E2E;
    min-height: 950px;
    height: fit-content;
    background-position-x: -100px ;
    text-align: center;
    background-repeat: no-repeat;
    position: relative;
}

.explore-hero h1 {
    color: white;
    font-size: 40px;
    padding-top: 80px;
}

.text-container {
    text-align: left;
    max-width: 650px;
    margin: 80px auto 0px;
    background-color: #091E2E;
    padding: 32px;
}

.text-container h2 {
    color: white;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.text-container p {
    margin: 24px 0 0px;
    font-size: 20px;
}

/* HIDDEN DR. EGGHEAD */

.hidden-egghead-wrap {
    padding: 0 32px;
    max-width: 650px;
    margin: 0 auto 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.hidden-egghead-wrap label img {
    width: 110px;
    margin-top: 80px;
}

.hidden-egghead-wrap label img:hover {
    cursor: pointer;
    filter: brightness(1.5);
}

.egghead-revealed {
    display: none;
    margin-right: -30px;
}

#flashlight {
    display: none;
    position: relative;
    z-index: 1000;
}

.dark-egghead {
    margin-top: 4px;
    padding-top: 86px;
}

#flashlight:checked ~ .egghead-revealed {
    display: block;
}

#flashlight:checked ~ .dark-egghead {
    display: none;
}

/* FOR TEACHERS SECTION */

.for-teachers {
    background-color: #DFF0FD;
    padding: 80px 0 80px;
}

.for-teachers p, .for-researchers p{
    color: black;
    font-size: 20px;
    height: fit-content;
    margin-top: 24px;
}

.text-container-for-teachers, .text-container-for-researchers {
    text-align: left;
    max-width: 650px;
    padding: 32px;
    margin: 0 auto;
}

.for-teachers h2, .for-researchers h2 {
    font-family: 'Montserrat';
    color: black;
    padding-top: 40px;
    text-transform: uppercase;
}

.for-teachers img {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    width: 80%;
    max-width: 270px;
    padding-bottom: 32px;
}

/* FOR RESEARCHERS SECTION */

.for-researchers {
    background-color: #FAF9F5;
    padding: 100px 0 100px;
}

.for-researchers img {
    padding: 80px 0px 0px;
    width: 80%;
    max-width: 250px;
}

/* VISIT SECTION */


.hero-visit {
    background-image: url(/images/visit.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading-visit {
    background-color: #FAF9F5;
    text-align: center;
}

.heading-visit h1 {
    color: #145E95;
    padding: 80px 0px;
    font-size: 40px;
}

.visit-information h3, .visit-information a {
    color: black;
}

.visit-card h3 {
    padding: 80px 0px 40px;
    font-size: 32px;
}

.visit-information p {
    color: black;
    margin: 1em 0px;
    font-size: 20px;
}

.visit-information {
    background-color: #FAF9F5;
    padding: 0 10% 120px;
}

.visit-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    gap: 2em;
}

.visit-card {
    border-radius: 20px;
    text-align: center;
    flex: 1 1 calc(33.3% - 2em);
    padding: 0 3em 3em;
    min-width: 310px;
    width: 100%;
}

.visit-card a {
    text-decoration: underline;
    text-transform: none;
}

.visit-card-1 {
    background-color: #DFF0FD;
}

.visit-card-2 {
    background-color: #FFF4E8;
}

.visit-card-3 {
    background-color: #E9F4EC;
}

.visit-card-3 p, .visit-card-4 p, .visit-card-5 p, .visit-card-6 p {
    text-align: left;
}

.visit-card-4 {
    background-color: #F2F2F2;
}

.visit-card-5 {
    background-color: #FBFDE5;
}

.visit-card-6 {
    background-color: #DFF0FD;
}


/* EXHIBITIONS PAGE */

.hero-exhibitions {
    background-color: #091E2E;
    background-image: url(/images/exhibitions-bg-small.jpg);
    min-height: 500px;
    background-position-y: -50px;
}



/* COSMOLOGY SECTION */

.cosmo-section {
    background-image: url(/images/cosmo-bg.jpg);
    background-size: 40% 100%;
    background-repeat: repeat;
    background-position-x: -200px;
}

.cosmo-section p, .evolution-section p, .bioligy-section p, .robotics-section p, .ecology-section p {
    margin: 1em 0px;
    font-size: 20px;
}

.cosmo-section h3 {
    color: white;
    text-transform: uppercase;
    font-size: 24px;
}

.background {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
}

.cosmology-background {
    background-color: #091E2E;
}

.flex-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 24px;
    padding: 100px 0px 100px;  
}

.exhibit-img {
    height: fit-content;
    flex: 1 1 30%;
    max-width: 260px;
}

.exhibit-text-1 {
    flex: 1 1 70%;
    max-width: 500px;
}

.exhibit-text-2 {
    flex: 2 0 70%;
    max-width: 500px;
}

.exhibit-icon {
    flex: 1 1 30%;
    max-width: 300px;
}

.exhibit-img img {
    border-radius: 50%;
    filter: drop-shadow(#050e16 0 0 15px);
    display: block;
    margin: auto;
    width: 80%;
}

.cosmo-section .exhibit-img img {
    boder: 4px black solid;
}

.exhibit-icon img {
    display: block;
    margin: auto;
    width: 100%;
}


/* EVOLUTION SECTION */ 

.evolution-section {
    background-image: url(/images/evolution-bg.jpg);
    background-size: 40% 100%;
    background-repeat: repeat;
    background-position-x: -200px;
}

.evolution-background {
    background-color: #E9F4EC;
}

.evolution-section p, .bioligy-section p, .robotics-section p, .ecology-section p {
    color: black;
}

.evolution-section .exhibit-icon img, .bioligy-section .exhibit-icon img, .robotics-section .exhibit-icon img, .ecology-section .exhibit-icon img {
    width: 50%;
}

.evolution-section h3, .bioligy-section h3, .robotics-section h3, .ecology-section h3 {
    text-transform: uppercase;
    font-size: 24px;
}

/* BIOLIGY SECTION */

.bioligy-section {
    background-image: url(/images/bioligy-bg.jpg);
}

.bioligy-background {
    background-color: #FFF4E8;
}

/* ROBOTICS SECTION */

.robotics-section {
    background-image: url(/images/robotics-bg.jpg);
}

.robotics-background {
    background-color: #F2F2F2;
}


/* ECOLOGY SECTION */ 

.ecology-section {
    background-image: url(/images/turtle.jpg);
}

.ecology-background {
    background-color: #DFF0FD;
    height: fit-content;
}

.back-to-top, .back-to-top a {
    color: black;
    text-decoration: underline;
    text-align: center;
    padding: 40px;
}












@media (min-width: 400px) {
    .news-card {
        min-width: 280px;
    }

    .news-card img {
        height: 150px;
    }
}

@media (min-width: 600px) {
    .hero-exhibitions {
        background-image:url(/images/exhibitions-bg.jpg) ;
    }
}

  @media (min-width: 800px) {

    .speech-bubble {
        width: 372px;
        height: 394px;
        margin-left: 20%;
    }
    .dr-egghead-1 {
        transform: rotate(-90deg);
        margin-top: 0px;
        margin-left: 10%;
        
    }
    .speech-text p {
        font-size: 20px;
        padding-top: 18px;
    }

    .moon {
        bottom: 100px;
    }

    .hero-below {
        height: 900px;
    }

    .speech-bubble-2 {
        margin-top: 10%;
    }

    .orion {
        display: block;
    }

    .heading-exhibitions img {
        display: block;
    }

    .h1-blue {
        font-size: 32px;
    }

    h1, h2 {
        font-size: 32px;
    }

    .card {
        width: 15%;
    }

    .card-3 {
        order: 3;
    }

    .card-3 a img {
        width: 100%;
    }

    .dr-egghead-bottom {
        padding-left: 25%;
    }

    .speech-bubble-bottom, .speech-bubble-bottom img {
        max-width: 320px;
    }

    .speech-bubble-bottom p, .speech-bubble-bottom a {
        font-size: 20px;
    }

    


 

  }

  @media (min-width: 900px) {
    .moon {
        bottom: 200px;
    }

    .hero-below-text {
        padding-top: 15%;
    }


  }

  @media (min-width: 1000px) {

    .hamburger-icon {
        display: none;
    }
    .nav-links {
    flex-direction: row;
    justify-content: space-between;
    }
    nav li {
        padding: 0px;
    }
    nav {
        top: 0;
        position: inherit;
        display: block;
        width: 60%;
    }
}

  @media (min-width: 1300px) {
    .hero-below-text {
        padding-top: 10%;
    }
    .speech-bubble-2 {
        margin-top: 5%;
    }
        
    .news-card p {
        font-size: 20px;
    }
}

  @media (min-width: 1400px) {
    .moon {
        bottom: 50px;
    }
}