@font-face {
    font-family: 'nulshock';
    src: url(../fonts/nulshock\ bd.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

li, a {
    font-family: 'Montserrat';
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

p {
    font-family: 'Montserrat';
    color: white;
}

h1 {
    font-family: 'nulshock';
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

/* HEADER NAV */

header {
    background-color: #145E95;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .logo img {
      height: 40px;
  }
  
  nav {
    position: fixed;
    top: 70px;
    background: #145E95;
    width: 100%;  
    display: none;
    z-index: 1000;
  }
  
  .nav-links {
      text-align: center;
      display: flex;
      flex-direction: column;
  }

  .nav-links a {
      padding: 12px 0px 11px;
      display: inline-block;
      width: 100%;
      height: 100%; 
  }

  .nav-links a:hover {
      border-bottom: 1px solid white;
  }

  nav li {
    display: block;
    padding: 30px 30px;
  }

  #checkbox {
      display: none;
  }
  
  #checkbox:checked ~ nav {
    display: block;
  }


/* HOMEPAGE HERO */

.hero-home {
    background-color: #145E95;
    background-image: url(/images/bg-home.jpg);
    height: 715px;
    overflow: visible;
}

.header-text {
    color: white;
    margin-left: 10%;
    padding: 60px 10px 0px 0px;
}

.header-text h1 {
    padding: 16px 0px 50px;
}

.speech-bubble {
    width: 30%;
    min-width: 277px;
    margin-left: 10%;
    position: relative;
}

.speech-bubble img {
    width: 100%;
    position: absolute;
}

.speech-text p {
    padding: 12px 0px;
}

.speech-text {
    position: absolute;
    margin: 0px 0px 0px 40px;
    width: 80%;
}

.speech-text span {
    font-family: 'nulshock';
    color: #FF931E;
}

.dr-egghead-1 {
    margin-top: 300px;
}

.blue-line {
    background-color: #97C0DE;
    height: 16px;
    position: relative;
    z-index: 0;
}

.hero-below {
    position: relative;
    width: 100%;
    height: fit-content;
    z-index: 1000;
}


.moon {
    position: absolute;
    width: 330px;
    top: -200px;
    right: -10%;
    max-width: 800px;
    z-index: 1000;
}






/* HERO HOMEPAGE PART 2 */

.hero-below {
    background-image: url(/images/home-bg-2.jpg);
    height: 1179px;
}

.hero-below-text {
    padding-top: 200px;
    width: 80%;
    max-width: 800px;
    margin: auto;

}

.hero-below-text p {
    padding-bottom: 40px;
    font-size: 20px;
}














  @media (min-width: 800px) {
      .hamburger-icon {
          display: none;
      }
      .nav-links {
        flex-direction: row;
        justify-content: space-between;
      }
      nav li {
          padding: 0px;
      }
      nav {
          top: 0;
          position: inherit;
          display: block;
          width: 60%;
      }
      .speech-bubble {
        width: 372px;
        height: 394px;
        margin-left: 25%;

    }
    .dr-egghead-1 {
        transform: rotate(-90deg) scale(1.2);
        margin-top: 0px;
        margin-left: 10%;
        
    }
    .speech-text p {
        font-size: 20px;
        padding-top: 18px;
        
    }
  }

